body {
    margin: 0px;
    padding: 0px;
}

#principal {
    width: 100%;
    height: 100px;
    display: flex;

    background-color: #303030;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABABA;
}
    #principal div a:hover{
        color: #CCCCCC;
    }

    #menu {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        margin-left: 5%;
    }

        #menu a {

            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 30px;
            text-decoration: none;
            color: #FFFFFF;
        }

    #principal button {
        margin-right: 5%;
        background-color: #0C70F2;
        border: 0px;

        height: 40px;
        width: 80px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;

        box-shadow: 3px 2px 4px 
        rgba(12, 112, 242, 0.25);

        cursor: pointer;

    }